body{
    font-family: 'Poppins', sans-serif;    
    text-align: center;
    
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}

p{
    color: #8f8f8f;
}

/* Headings */

.big-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    
}
.med-heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.5;
    font-size: 3rem;
}
.small-heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}



/* Testimonial Section */
#testimonials{
    background-color:#ef8172 ;    
    /* #3dffbe */
    /* #3dffff */
    color: #fff;
}
.testimonial-image{
    border-radius: 100%;
    width: 20%;
    margin: 15px;
}


.carousel-item{
    padding: 7% 15%;
    padding-bottom: 30px;
}


#footer{
    padding: 70px;
}
.ic{
    color: #000;
    padding: 5px;
}


/* responsive site */

@media screen and (max-width: 1028px){
    .titleimg{
        position: static;
        transform: rotate(0);
        width: 50%;
      }
    #title{
      text-align: center;
    }  
}
  


